/* CUSTOM PROPERTIES */
:root {
    --link-blue: #1076eb;
    --link-blue-hover: #0d62c4;
    --improved-white: #f0f7ee;
    --background-gray: #262626;
    --lighter-gray: #3d3d3d;
}
/* BASE: Probably wanted for every page */
body {
    max-width: 750px;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--background-gray);
    color: var(--improved-white);
    font-family: Arial, sans-serif, Helvetica;
    font-size: 1.05em;
    line-height: 1.5;
}

header {
    border-bottom: 1px solid var(--lighter-gray);
    padding: 2rem 1.5rem;
    margin: -2rem calc(0px - (50vw - 50%)) 2rem;
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%); 
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1.0rem 0;
}

p {
    margin: 0 0 1.0rem 0;
}

a, a:visited {
    color: var(--link-blue);
}
a:hover {
    color: var(--link-blue-hover);
}
small {
    display: block;
}
hr {
    border: 1px solid var(--lighter-gray);
    margin: 1.5rem 0 1.5rem 0;
}
/* INPUT */
